{{define "numpad"}}



<div class="container">
	<div class="row">
		<div class="col">
			<button id="button_1" type="button" value="1"
				class="btn btn-primary btn-lg btn-block">1</button>
		</div>
		<div class="col">
			<button id="button_2" type="button" value="2"
				class="btn btn-primary btn-lg btn-block">2</button>
		</div>
		<div class="col">
			<button id="button_3" type="button" value="3"
				class="btn btn-primary btn-lg btn-block">3</button>
		</div>
	</div>
</div>
<br/>
<div class="container">
	<div class="row">
		<div class="col">
			<button id="button_4" type="button" value="4"
				class="btn btn-primary btn-lg btn-block">4</button>
		</div>
		<div class="col">
			<button id="button_5" type="button" value="5"
				class="btn btn-primary btn-lg btn-block">5</button>
		</div>
		<div class="col">
			<button id="button_6" type="button" value="6"
				class="btn btn-primary btn-lg btn-block">6</button>
		</div>
	</div>
</div>
<br/>
<div class="container">
	<div class="row">
		<div class="col">
			<button id="button_7" type="button" value="7"
				class="btn btn-primary btn-lg btn-block">7</button>
		</div>
		<div class="col">
			<button id="button_8" type="button" value="8"
				class="btn btn-primary btn-lg btn-block">8</button>
		</div>
		<div class="col">
			<button id="button_9" type="button" value="9"
				class="btn btn-primary btn-lg btn-block">9</button>
		</div>
	</div>
</div>
<br/>
<div class="container">
	<div class="row">
		<div class="col">
			<button id="button_a" type="button" value="*"
				class="btn btn-primary btn-lg btn-block">*</button>
		</div>
		<div class="col">
			<button id="button_0" type="button" value="0"
				class="btn btn-primary btn-lg btn-block">0</button>
		</div>
		<div class="col">
			<button id="button_h" type="button" value="#"
				class="btn btn-primary btn-lg btn-block">#</button>
		</div>
	</div>
</div>
<br/>


{{end}}
