{{define "title"}}URT Radio{{end}}

{{define "main"}}
{{template "breadcrumbs" .}}

<div class="container">
<div class="row">
<div class="col-8">
</div>
<div class="col-4">
<div class="form-group">
	<input type="text" class="form-control" id="radio_state" 
		name="radio_state" value="">
</div>
</div>
</div>
</div>

{{template "numpad" .}}

<div class="container">
<div class="row">
<div class="col-6">
<div class="btn-group btn-group-toggle" data-toggle="buttons">
  <label class="btn btn-secondary">
    <input type="radio" 
		name="sex_input" id="sex_input_0" value="female"> Female
  </label>
  <label class="btn btn-secondary">
    <input type="radio" 
		name="sex_input" value="male"> Male
  </label>
</div>
</div>


<div class="col-4">
<button type="button" class="btn btn-block btn-dark">Submit</button>
</div>


<div class="col-2">

<div class="form-group">
	<input type="text" class="form-control" id="radio_state2" 
		name="radio_state" value="">
</div>
</div>
</div>
</div>

{{/* this worked fine
<label class="radio-inline"><input type="radio" 
	name="optradio" value="male" checked> male</label>
<label class="radio-inline"><input type="radio" 
	name="optradio" value="female"> female</label>
*/}}

{{end}}

{{define "extra_head"}}
<!-- urt extra_head -->

<script>
console.log("urt radio ...");

var file_base = "/static/URT_RADIO_RAW/radio/";

var female11 = new Audio("/static/URT_RADIO_RAW/radio/female/female11.wav");
var female12 = new Audio("/static/URT_RADIO_RAW/radio/female/female12.wav");
var female13 = new Audio("/static/URT_RADIO_RAW/radio/female/female13.wav");
var female14 = new Audio("/static/URT_RADIO_RAW/radio/female/female14.wav");
var female15 = new Audio("/static/URT_RADIO_RAW/radio/female/female15.wav");
var female16 = new Audio("/static/URT_RADIO_RAW/radio/female/female16.wav");
var female17 = new Audio("/static/URT_RADIO_RAW/radio/female/female17.wav");
var female18 = new Audio("/static/URT_RADIO_RAW/radio/female/female18.wav");
var male18 = new Audio("/static/URT_RADIO_RAW/radio/male/male18.wav");

var play_butt_func = function() {
	female18.play();
}
var play_m18 = function() {
	male18.play();
}

var all_click = function() {
	console.log("all click:"+$(this).val());
	console.log($("input[type='radio'][name='sex_input']:checked").val());
}

$(function() {
	/* $("input:radio:first").click(); */
	$("#sex_input_0").click();
	$("button").click(all_click);
});

</script>
{{end}}

