{{define "title"}}URT Radio{{end}}

{{define "main"}}
{{template "breadcrumbs" .}}


{{template "numpad" .}}

<div class="container">
<div class="row">
<div class="col-6">
<div class="btn-group btn-group-toggle" data-toggle="buttons">
  <label class="btn btn-secondary">
    <input type="radio" 
		name="sex_input" id="sex_input_0" value="female"> Female
  </label>
  <label class="btn btn-secondary">
    <input type="radio" 
		name="sex_input" value="male"> Male
  </label>
</div>
</div>


<div class="col-4">
<button type="button" id='reset_button' class="btn btn-block btn-dark">Reset</button>
</div>


<div class="col-2">

<div class="form-group">
	<input type="text" class="form-control" id="radio_state" 
		name="radio_state" value="">
</div>
</div>
</div>
</div>

{{/* this worked fine
<label class="radio-inline"><input type="radio" 
	name="optradio" value="male" checked> male</label>
<label class="radio-inline"><input type="radio" 
	name="optradio" value="female"> female</label>
*/}}

{{end}}

{{define "extra_head"}}
<script>
var file_base = "/static/URT_RADIO_RAW/radio/";
var audio_cache = {};

var process_radio_state = function() {
	s = $('#radio_state').val();
	console.log("process radio state:"+s);
	
	if (s.length < 2) {
		return;
	} else if (s.length == 2) {
		play_radio(s, get_sex());
		$('#radio_state').val("");
	} else {
		console.log("state err: reset it");
		$('#radio_state').val("");
	}
}

var get_sex = function() {
	return $("input[type='radio'][name='sex_input']:checked").val();
}

var update_radio_state = function(new_val) {
	cur = $('#radio_state').val();
	console.log("current radio state:"+cur+" new val:"+new_val);
	$('#radio_state').val(cur+new_val);
}

var play_radio = function(state, sex) {
	console.log("PLAYRADIO:"+state+" sex:"+sex);
	path = file_base;
	path = path + sex + "/" + sex + state + ".wav";
	console.log("--path:"+path);

	if (!(path in audio_cache)) {
		console.log("no audio yet, cache it...");
		audio_cache[path] = new Audio(path);
	}
	audio_cache[path].play();
}

var all_click = function() {
	console.log("all click:"+$(this).val());
	console.log($("input[type='radio'][name='sex_input']:checked").val());
	update_radio_state($(this).val());
	process_radio_state(); 
}

/* $("input:radio:first").click(); */

$(function() {
	$("#sex_input_0").click();
	$("button").click(all_click);
	$('#reset_button').click(function(){
		$('#radio_state').val('');
	});
});
</script>
{{end}}

