{{define "title"}}URT Radio{{end}}

{{define "main"}}
{{template "breadcrumbs" .}}

<button id="urt_play_sound_button" type="button" 
	class="btn btn-primary btn-lg btn-block">play sound</button>

{{template "numpad" .}}


<div class="form-check form-check-inline">
  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
  <label class="form-check-label" for="inlineRadio1">1</label>
</div>
<div class="form-check form-check-inline">
  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
  <label class="form-check-label" for="inlineRadio2">2</label>
</div>
<div class="form-check form-check-inline">
  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3" disabled>
  <label class="form-check-label" for="inlineRadio3">3 (disabled)</label>
</div>

{{end}}

{{define "extra_head"}}
<!-- urt extra_head -->

<audio id="audio_123">
<source src="/static/URT_RADIO_RAW/radio/female/female11.wav">
</audio>


<script>
console.log("urt radio ...");
var aud1 = new Audio("/static/URT_RADIO_RAW/radio/female/female11.wav");

var play_butt_func = function() {
	console.log("play butt ...");
	//$('audio#audio_123').play();
	aud1.play();
}

$(function() {
	$("#urt_play_sound_button").click(play_butt_func);
});
</script>
{{end}}

