{{define "main"}}

<button type="submit" value="Submit2" form=musicform123>update</button>

<form id=musicform123 method=post action=/ttown/music>
	<input type="hidden" name="csrf_token" value="{{.token}}"> 

<ul>
<li>
<label class="form-label">Artist starts with</label>
<select name="artist_startswith" class="form-select">
	<option value="">Choose letter</option>
	{{template "a_z_select" .}}
</select>
</li>

</ul>

</form>

<button form=musicform123 type="submit" value="Submit">submit</button>

<p>results:</p>
{{range .artists}}
<li>{{.Name}}
{{end}}

{{end}}
