{{define "a_z_select"}}

{{range .A_Z}} 
	{{if $.a_z_select_value }}
	<option {{if eq $.a_z_select_value .}} selected{{end}}>{{.}}</option>
	{{else}}
	<option>{{.}}</option>
	{{end}}
{{end}}

{{end}}
