{{define "breadcrumbs"}}
<nav aria-label="breadcrumb">
<ol class="breadcrumb">
	<li class="breadcrumb-item"><a href="/">Home</a></li>
	<li class="breadcrumb-item"><a href="/xyz">XYZ</a></li>
	<li class="breadcrumb-item active"><a href="/xyz/users">Users</a></li>
	{{/*
	<li class="breadcrumb-item active" aria-current="page">Data</li>
	*/}}
	</ol>
</nav>
{{end}}
