{{define "title"}}items{{end}}

{{define "main" -}}
<h2>items</h2>


<div class="container">
<div class="columns">
<div class="form-group">
	<div class="column col-3">
		<label class="form-label" for="input-example-9">URL</label>
	</div>
	<div class="column col-9">
		<input class="form-input" id="input-example-9" type="url" placeholder="URL" value="https://github.com/picturepan2/spectre">
	</div>
</div>
</div>
</div>
{{- /*
<!-- form radio control -->
<div class="form-group">
  <label class="form-label">Gender</label>
  <label class="form-radio">
    <input type="radio" name="gender" checked>
    <i class="form-icon"></i> Male
  </label>
  <label class="form-radio">
    <input type="radio" name="gender">
    <i class="form-icon"></i> Female
  </label>
</div>
*/ -}}


<div class="container">
<div class="columns">
<div class="column">
<table class="table">
<thead>
	<tr>
		<th>ID</th>
		<th>Title</th>
		<th>Artist</th>
	</tr>
</thead>
<tbody>

{{- /*
	<tr class="active">
		<td>The Shawshank Redemption</td>
		<td>Crime, Drama</td>
		<td>14 October 1994</td>
	</tr>
*/ -}}

{{- range .items -}}
	<tr class="">
		<td>{{.ID}}</td>
		<td>{{.Title}}</td>
		<td>{{.Artist}}</td>
	</tr>
{{- end -}}

</tbody>
</table>

</div>
</div>
</div>

{{end -}}
