{{- define "js_includes" -}}
<!-- js_includes.tmpl -->
<script src="/static/jquery-3.3.1.min.js"></script>
<script src="/static/mousetrap.min.js"></script>
{{/* messes with jquerys $()
<script src="/static/hn.js"></script>
*/}}
<script src="/static/script.js"></script>
{{- end -}}

