{{define "leftnav"}}

{{if not .noleftnav}}

<div class="leftnav column col-2">
	<ul class="nav">
		<li class="menu-item"><a href="/">Home</a></li>
		<li class="menu-item"><a href="/items">Items</a></li>
		<li class="menu-item"><a href="/artists">Artists</a></li>
		<li class="menu-item"><a href="/formstuff/index">formstuff</a></li>
	</ul>
</div>

{{end}}

{{end}}
