{{define "navbar"}}

<header class="navbar">
	<section class="navbar-section">
		<a href="/items" class="btn btn-link">Home</a>
		<a href="/formstuff/index" class="btn btn-link">form-stuff</a>
	</section>
	<section class="navbar-center">
		<a href="/">Music</a>
	</section>
	<section class="navbar-section">
		<a href="/nostyle" class="btn btn-link">nostyle</a> 
		<a class="btn btn-link" href="https://picturepan2.github.io/spectre/getting-started.html">spectre</a>
	</section>
</header>

{{end}}


