{{define "navbar"}}

<header class="navbar">
	<section class="navbar-section">
		<a href="/" class="btn btn-link">Home</a>
		<a href="/page3" class="btn btn-link">Alpha</a>
	</section>
	<section id="id123" class="navbar-center">
		<a href="https://oldcode.org/">oldcode</a>
	</section>
	<section class="navbar-section">
		<a href="/other" class="btn btn-link">Delta</a>
		<a href="/page4" class="btn btn-link">Bravo</a>
		<a href="https://picturepan2.github.io/spectre/getting-started.html">spectre</a>
	</section>
</header>

{{end}}


