{{define "main"}}
{{template "breadcrumbs" .}}

<ul>
<li><a href="/music">music</a></lli>
<li><a href="/canv-thing">canvas thing</a></lli>
<li><a href="/univ">universe style test</a></lli>
<li><a href="/radio/stat">Radio Station</a></lli>
<li><a href="/xyz">XYZ</a></lli>
<li><a href="/phrase/lorem">lorem</a></lli>
<li><a href="/phrase">phrase</a></lli>
<li><a href="/stocks/index">stocks</a></lli>
{{/*
<li><a href="/resume">resume</a></lli>
<li><a href="/phrases">Phrases</a></lli>
<li><a href="/scales">Music Theory</a></lli>
*/}}
</ul>

{{end}}

