{{define "title"}}GEO{{end}}

{{define "main"}}
{{template "breadcrumbs" .}}

<div class="container">
<div class="row">
<div class="col">
<button type="button" id="get_loc_b" class="btn btn-info">get location</button>
</div>
</div>
</div>

<div class="container">
<div class="row">
<div class="col">
<p id="geo_output">HHH...</p>
</div>
</div>
</div>

{{end}}

{{define "extra_body"}}
<script>
var logPos = function(pos) {
	$('#geo_output').html("lat FOUND");
	//$('#geo_output').html("lat:" + pos.coords.latitude + "lon:" + pos.coords.longitude);
}

function error(err) {
/*
	console.warn(`ERROR(${err.code}): ${err.message}`);
	alert(`ERROR(${err.code}): ${err.message}`);
*/
	$('#geo_output').html("err");
}

if (navigator.geolocation) {
	$('#geo_output').html("has geo...");
	navigator.geolocation.getCurrentPosition(logPos, error);
	$('#geo_output').html("has geo...after");
} else {
	$('#geo_output').html("has NO geo");
}
	
var show_msg = function() {
	$('#geo_output').html("hey see me?!");
}

$(function() {
	$('#get_loc_b').click(show_msg);
});




</script>
{{end}}


