{{define "extra_head"}}
<link rel="stylesheet" href="/static/leaflet/leaflet.css" />

<style>
div#mapid {
	background-color: yellow;
	min-height: 300px;
	width: 100%;
}
</style>
{{end}}

{{define "main"}}
{{template "breadcrumbs" .}}

<div id="mapid">asd</div>

{{end}}

{{define "extra_body"}}
<script src="/static/leaflet/leaflet.js"></script>
<script>
$(function(){
console.log("extra body geo map");

var loc = [43.299557, -72.482128];
var mymap = L.map('mapid').setView(loc, 13);
//mymap.fitWorld();

L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw', {
	maxZoom: 18,
	id: 'mapbox.streets'
}).addTo(mymap);


//mymap.on('click', onMapClick);
//mymap.invalidateSize(); 


mymap.locate({setView: true, maxZoom: 16});
});
</script>
{{end}}
