{{define "title"}}Artists{{end}}

{{define "breadcrumbs_block"}}{{template "breadcrumbs" .}}{{end}}

{{define "main"}}
{{/*
{{template "artists_pagination" .}}
<ul>
{{- range .artists}}
	<li><a href="{{.Url}}">{{.Name}}</a></li>
{{- end}}
</ul>
*/}}


<form id=musicform123 method=post action=/music/artists>
	<input type="hidden" name="csrf_token" value="{{.token}}"> 

<label class="form-label">Artist starts with</label>
<select name="artist_startswith" class="form-select">
	<option value="{{.artist_startswith}}">letter</option>
	{{template "a_z_select" .}}
</select>
<button type="submit">Submit</button>


</form>

{{/*<button form=musicform123 type="submit" value="Submit">submit</button>*/}}

<ul>
{{range .artists}}
<li><a href="{{.Url}}">{{.Name}}</a></li>
{{end}}
</ul>

{{end}}

