{{define "filter_filter"}}

<form method="post">

<div class="container">

<div class="row">

	<div class="col">
		<div class="form-check">
			<input class="form-check-input" type="checkbox" value="" id="artist_check">
			<label class="form-check-label" for="artist_check">Artist</label>
		</div>
	</div>
	<div class="col">
		<div class="form-group">
			<label class="form-label">Starts with</label>
			<select name="artist_startswith" class="form-select">
				<option value="">Choose letter</option>
				{{template "a_z_select" .}}
			</select>
		</div>
	</div>

</div>


</div><!-- container -->

</form>

{{end}}
