{{define "title"}}items{{end}}

{{define "main"}}


<form method="post">
<div class="container">


<!-- ARTIST -->
<div class="columns">
<div class="column col-9">
<div class="form-group">
	<label class="form-label">Artist</label>
	<select name="artist" class="form-select">
		<option value="">Choose Artist</option>
		{{range .artists}}
			<option {{- if eq $.artist .Name}} selected{{end}}>
			{{- .Name -}}
			</option>
		{{- end}}
	</select>
</div>
</div>

<div class="column">
<div class="form-group">
	<label class="form-label">Starts with</label>
	<select name="artist_startswith" class="form-select">
		<option value="">Choose letter</option>
		{{template "a_z_select" .}}
	</select>
</div>
</div>
</div>

<!-- ALBUM -->
{{/* if albums exists...... */}}
<div class="columns">
<div class="column">
<div class="form-group">
	<label class="form-label">Album</label>
	<select name="artist" class="form-select">
		<option value="">Choose Album</option>
		{{range .albums}}
			<option {{- if eq $.album .Name}} selected{{end}}>
			{{- .Name -}}
			</option>
		{{- end}}
	</select>
</div>
</div>
</div>

<div class="columns">
<div class="column">
<hr/>
<button class="btn">Filter</button>
</div>
</div>

</div>
</form>

{{template "items_pagination"}}

<div class="divider"></div>

<ol start="11">
<li>asd</li>
</ol>
{{end}}
